
<div class="horizontal-menu" style="margin-left: -16px;margin-bottom: 10px;">
    <a mat-button routerLink="simplepresent" routerLinkActive="active">Simple Present Tense</a>
    <a mat-button routerLink="simplecontinous" routerLinkActive="active">Present Continuous Tense</a>
    <a mat-button routerLink="presentperfect" routerLinkActive="active">Present Perfect Tense</a>
    <a mat-button routerLink="presentperfectcontinuous" routerLinkActive="active">Present Perfect Continuous Tense</a>
</div>

<div class="tutorial-content">
    <router-outlet></router-outlet>
</div>

