<div class="horizontal-menu" style="margin-left: -16px;margin-bottom: 10px;">
    <a mat-button routerLink="simplepast" routerLinkActive="active">Simple Past Tense</a>
    <a mat-button routerLink="pastcontinous" routerLinkActive="active">Past Continuous Tense</a>
    <a mat-button routerLink="pastperfect" routerLinkActive="active">Past Perfect Tense</a>
    <a mat-button routerLink="pastperfectcontinuous" routerLinkActive="active">Past Perfect Continuous Tense</a>
</div>

<div class="tutorial-content">
    <router-outlet></router-outlet>
</div>
