<mat-tab-group>
    <mat-tab label="Java Tricky Interview Questions">
        <app-tricky-java-interview></app-tricky-java-interview>
    </mat-tab>
    <mat-tab label="Core Java">
        <!-- <app-tab2></app-tab2> -->
        <iframe [src]="safeUrl" width="100%" height="800px" style="border:none"></iframe>
    </mat-tab>
    <mat-tab label="Java Coding Problems">
        <!-- <app-tab3></app-tab3> -->
    </mat-tab>
    <mat-tab label="Java Design Pattern">
        <!-- <app-tab3></app-tab3> -->
    </mat-tab>
    <mat-tab label="Java Collection Framework">
        <!-- <app-tab3></app-tab3> -->
    </mat-tab>
    <mat-tab label="Java Coding Problems">
        <!-- <app-tab3></app-tab3> -->
    </mat-tab>
</mat-tab-group>