/* Style for individual menu items */
.horizontal-menu a {
    color: #fff; /* Text color for menu items */
    text-decoration: none; /* Remove underline from links */
    margin: 0 15px; /* Add margin between menu items */
    font-size: 16px; /* Font size */
    font-weight: bold; /* Font weight */
    transition: color 0.3s; /* Smooth color transition on hover */
  }
  
  /* Style for menu item hover effect */
  .horizontal-menu a:hover {
    color: #ff6600; /* Change text color on hover */
  }